*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent{
  height: 100vh;
  border:20px solid rgb(red, green, blue);
  display: flex;
  /*flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;*/
}

.child1{
  width: 200px;
  height: 200px;
  background-color: skyblue;
  order: 4;
  flex-grow: 1;
}
.child2{
  width: 200px;
  height: 200px;
  background-color: rgb(235, 135, 157);
  flex-grow: 1;
}
.child3{
  width: 200px;
  height: 200px;
  background-color: rgb(20, 15, 26);
  flex-grow: 1;
}
.child4{
  width: 200px;
  height: 200px;
  background-color: rgb(155, 116, 194);
  order: 1;
  flex-grow: 1;
}